.P-skills-block{
  width: 100%;
.P-skills-container{
  margin-top: 190px;
.P-skills{
  text-align: center;
  font-size: 55px;
  color: #191919;

}
  .P-skills-text{
    font-size: 23px;
    color: #6a6a6f;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 25px auto;
    line-height: 1.5;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
}
  .P-zay-shop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
    .P-zay-shop-img{
      width: 43%;
      height: 350px;
      border-radius: 15px;
     background-size: cover;
      background-position: right 20% bottom 45%;

    }
    .P-zay-shop-container{
      width: 49%;
.P-zay-shop-title{
  text-align: center;
  font-size: 50px;
  color: #0f141e;
}
      .P-zay-shop-text{
        font-size: 27px;
        color: #6a6a6f;
        letter-spacing: 0.1rem;
        margin-top: 25px;
        line-height: 1.2;
      }
      .P-zay-shop-logos{
        display: flex;
        align-items: center;
        margin-top: 25px;
        .P-react-logo{
          font-size: 33px        }
        .P-sass-logo{
          font-size: 33px;
          margin-left: 20px;
        }
      }
      .P-zay-shop-git{
        margin-top: 15px;
        color: #0f141e;;
        font-size: 23px;
      }
      .P-zay-shop-btn{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      border: none;

      border-radius: 27px;
        margin-top: 12px;
        background-color: #449fdb;
        cursor: pointer;
        .P-zay-shop-btn-text{
          font-size: 1px;
          visibility: hidden;
        }
        .P-zay-shop-btn-logo{
          font-size: 33px;
          color: snow;
          margin-left: 10px;
        }
        &:hover{
          width: 200px;
          transition: 0.3s;
          .P-zay-shop-btn-text{
            font-size: 20px;
            visibility: visible;
            transition: 0.3s;
            margin-left: 17px;
            color: snow;
          }
        }
    }
      .P-zayshop-web{
        text-align: end;

        font-size: 25px;
        color: #0f141e;;
        margin-top: 10px;
      }

    }
  }
}